#main {
  position: relative;
  height: 100vh;
  width: 100%;
  flex: 1;
  /* border-left: solid rgba(82, 82, 82, 0.5) 1px;
  border-right: solid rgb(82, 82, 82, 0.5) 1px; */
  overflow: auto;
  /* background: #242424; */
}

.canvas-container {
  position: absolute;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  
}

.canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  display: block;
  width: 100%;
  height: 100%;
}

.grid-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.space-pressed {
  cursor: grab;
}

.is-grabbing {
  cursor: grabbing;
}
